<div class="address-card">
<h1 class="name">{{user.name}}</h1>
<h3 class="title">{{user.title}}</h3>
<button *ngIf="isCollapsed" (click)="toggleCollapse()">expand</button>
<button *ngIf="!isCollapsed" (click)="toggleCollapse()">collapse</button>
<div *ngIf="!isCollapsed">
<h3 class="address">{{user.address}}</h3>
<div  class="phone" *ngIf="user.phone.length>0">
<p>phone :</p>
<!--<p>{{user.phone[0]}}</p>
<p>{{user.phone[1]}}</p>
-->
<p *ngFor="let phonenumer of user.phone">{{phonenumer}}</p>
</div>
</div>

</div>
